.card {
  position: relative;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 47%;
  width: 65%;
  background-color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  border-radius: 0 8px;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}