.soundcloud-player {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Garuda', Verdana, Tahoma, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px;
}

.soundcloud-player iframe {
  height: 500px;
  width: 100%;
  margin-bottom: -9px;
}

.player-content {
  display: flex;
}

.player {
  flex-grow: 2;
}

.menu {
  flex-grow: 2;
  max-width: 300px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.menu-header {
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
  border-bottom: 2px solid black;
}

.back {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-buttons button {
  height: 50px;
  width: 200px;
  background-color: #f30;
  color: white;
}

.control {
  flex-grow: 1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

.control-header {
  text-align: center;
  background-color: #f2f2f2;
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}

.menu-input {
  padding: 20px;
}

.input-wrapper {
  margin-bottom: 20px;
  display: flex;
}

.input-wrapper input {
  flex-grow: 1;
}

.control-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.control-buttons {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.control-buttons button {
  height: 50px;
  background-color: #f30;
  color: white;
}

.volume {
  height: 100%;
  display: flex;
  align-items: center;
  width: 30px;
}

.volume input {
  transform: rotate(270deg) translateY(-65px);
  width: 350px;
}